html , body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#myHeader {
    background-color: rgb(61, 180, 227);
    color: darkgrey;
    padding: 0px 20px;

}

#myHeader h1 {
    color: white;
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 10px;
}

#subheader {
    color: rgb(0, 0, 0);
    font-size: medium;
}

.logInButton {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background-color: white;
    color: #333333;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.signUpButton {
  text-decoration: none;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.signUpButton:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.signUpButton:focus {
  user-select: auto;
}

.signUpButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

body {
    background-color: white;
    color: black;
}

.forms {
    text-align: center;
}

select {
    margin: 0 10px 10px 0;
}

input {
    margin: 0 10px 10px 0;
}

#host {
    margin: 10px 0 15px 0;
}

#professor {
    margin: 0 0 10px 0;
}

#ta {
    margin: 0 0 10px 20px;
}

#mentor {
    margin: 0 0 10px 20px;
}

#footer {
    height: 75px;
    background-color: rgb(61, 180, 227);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.foot_link {
    color: white;
}

#watermark {
    height: 75px;
    margin-bottom: -45px;
}

#signUp {
    text-align: center;
}

#section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    background-color: rgb(61, 180, 227);
    border-radius: 20px;
}

#addsection {
    margin-left: 50px;
}

#headimage {
    height: 220px;
    margin-bottom: -190px;
    margin-left: -20px;
    cursor: pointer;
}

#submission {
    margin: 10px 0 10px 0;
}

#goBack {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background-color: rgb(61, 180, 227);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: center;
    border-radius: 20px;
    margin: 10px 0 10px 0px;
    padding: 10px 30px 10px 30px;
}
u {
    font-size: large;
    font-weight: bold;
}