html , body {
    height: 100%;
}

#myHeader {
    background-color: #333333;
    color: darkgrey;
    padding: 30px 20px;
}

#myHeader h1 {
    color: crimson;
    font-size: 40px;
}

#myHeader h1 span {
    color: darkgray;
    font-size: medium;
}
.logInButton {
    display: inline-block;
    padding: 10px 15px  10px 15px;
    background-color: white;
    color: #333333;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    
}

#footer {
    height: 330px;
    background-color: rgb(255, 0, 0);
    color: white;
    
}

.foot_link {
    color: white;
}

#watermark {
    min-height: 100%;
    margin-bottom: -330px;
    position: relative;

}